*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100%;
    font-family: sans-serif, Roboto;
    /* overflow: hidden; */
    overflow-x: hidden;
}

.header,.section-1{
    background-color: #1f2937;
    color: #F9FAF8;
    display: flex;
}

.header{
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}

.header-logo{
    font-size: 24px;
    font-weight: bold;
    width: 60%;
    margin-left: 200px;
    /*margin-left: 120px;*/
}

ul{
    list-style: none;
    display: flex;
    gap: 25px;
    width: 40%;
    /*margin-right: 80px;*/
}

a{
    text-decoration: none;
    color: #F9FAF8;
}

.hero .main-text{
    font-size: 48px;
    font-weight: 800;
    margin-top: 100px;
}

.hero .sub-text{
    font-size: 18px;
}

.main-text,.sub-text,.sign-up{
    align-self: flex-start;
    margin-left: 215px;
}


.section-1{
    max-width: 100vw;
    align-items: center;
    justify-content: space-between;
}

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    gap: 10px;
    min-width: 600px;
    max-width: 600px;
}


.sign-up{
    padding: 10px;
    font-weight: 600;
    font-size: 18px;
    background-color: #3882F6;
    color:#ffffff;
    border: none;
    border-radius: 10px;
    width: 150px;
    margin-bottom: 100px;
}


img{
    /* margin: 100px 0 0 550px; */
    height:220px;
    border-radius: 50%;
    flex-shrink: 0;
    margin-right: 500px;
}


.section-2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #F9FAF8;
}

.info{
    font-size: 36px;
    font-weight: 600;
    color: #1f2937;
    margin: 50px 0;
}

.card{
    border: 4px solid #3882F6;
    border-radius: 16px;
    width: 150px;
    height: 150px;
    padding: 16px;
    margin: 16px;
}

.cards-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

figcaption{
    width: 150px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.section-3{
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 0 30px;
}

.quote,.person{
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
}

.person{
    font-weight: 600;
    align-self: flex-end;
    margin: 0 40px;
}

.section-4{
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-container{
    background-color: #3882F6;
    width: 70vw;
    height: 15vh;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.special{
    border: 3px solid #ffffff;
    margin: auto 0;
}

.call{
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 600;
}

.call-subtext{
    color: #F9FAF8;
    font-size: 18px;
}

footer{
    height: 10vh;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright-text{
    color: #F9FAF8;
    font-size: 20px;
}